{% if request.resolver_match.url_name == "edit_group" %}
<h1>Edit Groups</h1>
{% else %}
<h1>Create Groups</h1>
{% endif %}
<form method='post' {% if request.resolver_match.url_name == "edit_group" %}action='{% url 'edit_group' group.id %}'{% else %}action='{% url 'create_groups' %}'{% endif %}>
    {% csrf_token %}
    <label>Group name</label>
    <br/>
    <input type='text' name='group_name' {% if request.resolver_match.url_name == "edit_group" %} value={{group.group_name}} {% endif %}/>
    {% if error %}
    <div>{{error}}</div>
    {% endif %}
    <br/>
    <label>Select group members</label>
    <br/>
    {% for friend in friends %}
    <input type='checkbox' name='friends' value='{{friend.id}}' />
    <label>{{friend.username}}</label>
    <label>{{friend.email}}</label>
    <br/>
    {% empty %}
    <h1>You have no friends to invite</h1>
    {% endfor %}
    <input type='submit' />
</form>