<h1>Expense Tracker</h1>
{% if not user.is_authenticated %}
<a href={% url 'login' %}>Login</a>
<a href={% url 'signup' %}>Signup</a>
{% else %}
<h1>Hi, {{user.username}}</h1>
<a href='{% url 'logout' %}'>logout</a>
<h1>Friends</h1>
<ul><a href='{% url 'friends_page' %}'>Find Friends</a></ul>
<ul><a href='{% url 'pending_requests' %}'>Pending Requests</a></ul>
<ul><a href='{% url 'see_friends' %}'>See Friends</a></ul>
<h1>Groups</h1>
<ul><a href='{% url 'create_groups' %}'>Create Group</a></ul>
<ul><a href='{% url 'view_groups' %}'>View Group</a></ul>
<h1>Expenses</h1>
<ul><a href='{% url 'view_expenses' %}'>View Expenses</a></ul>
{% endif %}